.article-list-item {
  align-items: center;
  border-bottom: 1px dashed rgb(229 231 235);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.article-list-item:hover {
  border-color: rgb(156 163 175);
}

.uaa {
  color: #333;
  font-size: 14px;
  position: relative;
  text-decoration: none;
}

.uaa:hover {
  color: #333;
}

.uaa::before {
  background: rgb(156 163 175);
  bottom: -2px;
  content: '';
  height: 2px;
  left: 50%;
  position: absolute;
  transition: all 0.3s;
  width: 0;
}

.uaa:hover::before {
  left: 0;
  right: 0;
  width: 100%;
}
